﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ioasys</h1>
    <p>Teste inicial de .NET : Mauro Damasceno.</p>
</div>
<div class="panel-footer add-item-form">
    @await Html.PartialAsync("AddItemPartial", new Empresa())
</div>
